{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "singleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.css"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
